extends layout.pug 

block body
    header
      h1 About This Website
    main
      p content content
      p content content
      p content content
      p content content
      p content content
      p content content
      form(action='/', method='get')
        button(type='submit') Back to Index
      form(action='/users', method='get')
        button(type='submit') Go to Users
