doctype html
html
  head
    title My Page Title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    header
      h1 My Page Title
    main
      p Welcome to my page!
      form(action='/about', method='get')
        button(type='submit') About
      form(action='/users', method='get')
        button(type='submit') Users


