extends layout.pug 

block body
  header
    h1 My Page Title
  main
    p Welcome to my page!
    form(action='/about', method='get')
      button(type='submit') About
    form(action='/users', method='get')
      button(type='submit') Users

