extends layout.pug 

block body
    header
      h1 Users Here
    main
      p content content
      p content content
      p content content
      p content content
      p content content
      p content content
      form(action='/', method='get')
        button(type='submit') Back to Index
      form(action='/about', method='get')
        button(type='submit') Go to About